# {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(2,170,176);
background: -webkit-linear-gradient(left, rgba(2,170,176,1) 0%, rgba(0,205,172,1) 89%);
background: -o-linear-gradient(left, rgba(2,170,176,1) 0%, rgba(0,205,172,1) 89%);
background: linear-gradient(to right, rgba(2,170,176,1) 0%, rgba(0,205,172,1) 89%);
}
